*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
app/src/main/res/client_secret.json
opencv/build/*
CSync-fc4d5eea5a75.json
opencv/build/
/opencv
opencv/*
